<h1>{{ 'DashboardPage.Title' | translate }}</h1>
<div class="tiles-panel">
    <div class="tile">
        <div class="tile-icon"><mat-icon>mood</mat-icon></div>
        <div class="tile-title">
            {{ 'DashboardPage.TotalWins' | translate }}
        </div>
        <div class="tile-metric">1</div>
    </div>
    <div class="tile">
        <div class="tile-icon"><mat-icon>sentiment_dissatisfied</mat-icon></div>
        <div class="tile-title">
            {{ 'DashboardPage.TotalLosses' | translate }}
        </div>
        <div class="tile-metric">2</div>
    </div>
    <div class="tile">
        <div class="tile-icon"><mat-icon>show_chart</mat-icon></div>
        <div class="tile-title">
            {{ 'DashboardPage.WinLoseRatio' | translate }}
        </div>
        <div class="tile-metric">33%</div>
    </div>
</div>
