<mat-card *ngIf="games">
    <mat-card-title>Current games</mat-card-title>
    <mat-card-content>
        <div class="empty-state" *ngIf="games && games.length === 0">
            <div class="empty-state-panel">
                <mat-card class="empty-state-content empty-state-pacman-ghost">
                    <h1>
                        {{ 'GamesPage.GamesList.EmptyStateTitle' | translate }}
                    </h1>
                    <p>
                        {{ 'GamesPage.GamesList.EmptyStateText' | translate }}
                    </p>
                </mat-card>
            </div>
        </div>
        <div class="current-games-list">
            <div
                class="current-game game-status-indication-active"
                *ngFor="let game of games"
            >
                <div class="game-status-bar"></div>
                <div class="game-details" (click)="gotoGameDetails(game)">
                    <div class="game-name">{{ game.name }}</div>
                    <div class="game-status">
                        {{ game.status | translate }}
                    </div>
                    <div class="game-players">
                        <div
                            class="game-player player-one"
                            *ngFor="let player of game.players"
                        >
                            <mat-icon
                                *ngIf="game.statusId === 0 && !player.isReady"
                                [style.color]="player.color"
                            >
                                highlight_off
                            </mat-icon>
                            <mat-icon
                                *ngIf="game.statusId === 0 && player.isReady"
                                [style.color]="player.color"
                            >
                                check_circle_outline
                            </mat-icon>
                            <mat-icon
                                *ngIf="game.statusId > 0"
                                [style.color]="player.color"
                            >
                                fiber_manual_record
                            </mat-icon>
                            <span class="player-name">
                                {{ player.name }}
                            </span>
                        </div>
                    </div>
                    <div class="game-last-activity">
                        Latest activity: {{ game.lastActivityOn | moment }}
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
