@import '../../../../scss/variables.scss';

.current-games-list {
    display: flex;
    flex-flow: column;
    .current-game {
        display: flex;
        flex-flow: column;
        margin: 0 0 1rem 0;
        opacity: 0.8;
        border-radius: 1rem;
        cursor: pointer;
        overflow: hidden;
        background: $panel-highlight;
        border: 2px solid transparent;
        .game-status-bar {
            background: $theme-color;
            height: 0.5rem;
            border-radius: 1rem;
        }
        .game-details {
            padding: 0.5rem;
            .game-name {
                font-size: 1.2rem;
            }
            .game-status {
                font-size: 0.8rem;
                margin: 0.5rem 0;
            }
            .game-last-activity {
                font-size: 0.8rem;
                margin: 0.5rem 0;
                opacity: 0.4;
            }
            .game-players {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
                .game-player {
                    font-weight: 300;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    flex: 1 1 50%;
                    span {
                        margin-left: 1rem;
                        color: $text-color;
                    }
                }
                .has-turn {
                    font-weight: 700;
                }
            }
        }
    }
    .current-game:first-child {
        margin-top: 1rem;
    }

    .game-status-indication-pending {
        opacity: 0.5;
    }
    .game-status-indication-lost {
        background-color: rgba($color: $error, $alpha: 0.4);
    }
    .game-status-indication-won {
        background-color: rgba($color: $success, $alpha: 0.4);
    }
    .current-game:hover {
        opacity: 1;
    }
}
