$background-color: #121212;
$text-color: #e1e1e1;
$theme-color: #e65100;
$primary: $theme-color;
$success: #43a047;
$error: #e53935;

$panel-background: #424242;
$panel-highlight: #525252;

$error-background: #121212;
$error-color: $error;

$font-family: 'Comfortaa', cursive;

$player-one: #fdd835;
$player-two: #43a047;
$player-three: #039be5;
$player-four: #e53935;
